/* TABLE */
.table thead>tr>th{
	text-align: center;
}

.table tbody>tr>td{
    vertical-align: middle;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

table td.team{
    width:49%;
}

table td.separator{
    width:2%;
}

.date {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    text-align: center;
    color : #00B4CC ;
}

.date-navbar {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    text-align: center;
    color : #FFFFFF ;
    line-height: 30px;
    font-size: 20px;
}

.panel {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.panel-heading {
    background-color : #00B4CC;
    color : #FFFFFF; 
}

.pager li>a {
    background-color : #00B4CC;
    border-color : #00B4CC;
    color : #FFFFFF; 
}

.pager li>a:hover {
    background-color : #00DFFC;
    border-color : #00DFFC;
    color : #FFFFFF; 
}

.pager li>a:focus {
    background-color : #00B4CC;
    border-color : #00B4CC;
    color : #FFFFFF; 
}

.navbar {
    background-color : #00B4CC; 
    border-color : #00B4CC;
}

.normal .navbar-right
{
    display : none;    
}

.shrink .navbar-right
{
    display : inline-flex; 
    display : -webkit-inline-flex;
}

.navbar-default .navbar-nav>li>a{
    color : #FFFFFF; 
    font-size: 15px;
}

.normal {
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}

.shrink {
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}

.shrink .switch-label
{
    color : #FFFFFF; 
    font-size: 15px;
    padding-right: 10px;
    padding-top: 5px;
    padding-left : 10px;
}

.switch {
    padding-right: 10px; 
    display : inline-flex; 
    display : -webkit-inline-flex;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color : #FFFFFF;    
}

.navbar-default .navbar-toggle {
    background-color: #00B4CC;
    border-color: #00B4CC;
}

.navbar-default .navbar-toggle:hover {
    background-color: #00B4CC;
    border-color: #00B4CC;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color : #FFFFFF;    
}

.navbar-default .navbar-toggle:focus {
    background-color: #00B4CC;
    border-color: #00B4CC;
}

.navbar-default .navbar-toggle:focus .icon-bar {
    background-color : #FFFFFF;    
}

.navbar-default .navbar-brand {
    color : #FFFFFF;    
}

@media (max-width: 767px) {

    .normal button.navbar-toggle {
        display : none;
    }
    .shrink button.navbar-toggle {
        display : inline;
    }
}

.normal a.navbar-brand
{
    display : none;  
    line-height: 40px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.shrink a.navbar-brand
{
    display : inline; 
    line-height: 20px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.navbar-centered {
    padding-right: 50px;
    padding-left: 50px;
}

nav.shrink div.navbar-centered
{
    display : none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

body {
    background: url("../imgs/binding_dark_2.png") repeat scroll 0% 0% transparent;
    padding-top: 70px;
}

.panel-heading {
    color : #FFFFFF; 
}

.panel-heading .country { float:left }
.panel-heading .sign { float:right }
span.left-matches { float:left }
span.right-matches { float:right }

