/* TABLE */
.table thead>tr>th{
	text-align: center;
}

.table tbody>tr>td{
    vertical-align: middle;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

table td.team{
    width:49%;
}

table td.separator{
    width:2%;
}
/* -------------------- */
/* CAROUSEL SETS HEIGHT TO MATCH HIGHEST ELEMENT */

ul[rn-carousel] > li {
  position: relative;
  margin-left: -100%;
}

ul[rn-carousel] > li:first-child {
  margin-left: 0;
}

ul[rn-carousel] div.max_size {
  max-width: 100%;
}

.carousel-control {
    background: none !important;
}

.carousel-control > span.glyphicon {
    color: #3B5998;
} 

/* -------------------- */
/* DATE FORMATTING */

.date {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    text-align: center;
    color : #3B5998 ;
}

.date-navbar {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    text-align: center;
    color : #FFFFFF ;
    line-height: 30px;
    font-size: 20px;
}

/* -------------------- */
/* TABLES FORMATTING */

.panel {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    /*border: none;*/
    border-color : #AAAAAA;
}

.panel-heading {
    background-color : #3B5998;
    border-color : #3B5998;
    color : #FFFFFF; 
}

table {
    border-color : #AAAAAA;
}

/* -------------------- */
/* CONFIG BUTTON */

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: transparent;
    border-color: transparent; /*set the color you want here*/
    outline: 0;
}

/* -------------------- */
/* NAVBAR STYLING */

.navbar {
    background-color : #3B5998; 
    border-color : #3B5998;
}

.normal .navbar-right
{
    display : none;    
}

.shrink .navbar-right
{
    display : inline-flex; 
    display : -webkit-inline-flex;
    padding-top: 2px;
}

.normal,.shrink {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color : #FFFFFF;    
}

.navbar-default .navbar-toggle {
    background-color: #3B5998;
    border-color: #3B5998;
}

.navbar-default .navbar-toggle:hover {
    background-color: #3B5998;
    border-color: #3B5998;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color : #FFFFFF;    
}

.navbar-default .navbar-toggle:focus {
    background-color: #3B5998;
    border-color: #3B5998;
}

.navbar-default .navbar-toggle:focus .icon-bar {
    background-color : #FFFFFF;    
}

.navbar-default .navbar-brand {
    color : #FFFFFF;    
}

@media (max-width: 767px) {

    .normal button.navbar-toggle {
        display : none;
    }
    .shrink button.navbar-toggle {
        display : inline;
    }
}

.normal a.navbar-brand
{
    display : none;  
    line-height: 20px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.shrink a.navbar-brand
{
    display : inline; 
    line-height: 20px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.navbar-centered {
    padding-right: 50px;
    padding-left: 50px;
}

nav.shrink div.navbar-centered
{
    display : none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

/* -------------------- */
/* SWITCH BUTTON */

.switch {
    display : inline-flex; 
    display : -webkit-inline-flex;
}

.switch-label {
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 20px;
}

/* -------------------- */
/* MODAL STYLING */

.modal-header {
    color : #FFFFFF; 
    background-color: #3B5998;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-footer {
    background-color: #E9EBEE;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
}

.modal-body {
    background-color: #E9EBEE;
}

/* -------------------- */
/* OTHER */

.nomatch
{
    padding-top: 50px;
}

body {
    /*background: url("../imgs/binding_dark_2.png") repeat scroll 0% 0% transparent;*/
    padding-top: 50px;
    background-color: #E9EBEE
}

.panel-heading .country { float:left }
.panel-heading .sign { float:right }
span.left-matches { float:left }
span.right-matches { float:right }

